.all-news{
    padding-top: 150px;
    background-color: #FDFDFD;
}

.all-news .title{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: #1A1A1A;
    position: relative;
}

.all-news .title::before,
.all-news .title::after{
    content: '';
    width: 80px;
    position: absolute;
    top: 50%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary);
}
.all-news .title::before{
    right: 27%
}
.all-news .title::after{
    left: 27%
}

.all-news .new-card{
    font-family: "Tajawal", sans-serif !important;
    text-align: right;
    direction: rtl;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 0px #0000000F;
    cursor: pointer;
}

.all-news .new-card .card-description{
    color: #ADADAD;
    margin-bottom: 0;
}
.all-news .new-card img{
    border-radius: 3px;
}

.all-news .new-card .card-title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 22px;
    color: #1A1A1A;
}
.all-news .more a{
    background-color: #174B9F;
    padding: 15px 48px 15px 48px;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
@media screen and (min-width: 500px) and (max-width: 800px){
    .all-news{
        padding-top: 60px
    }
    .all-news .title{
        font-size: 40px;
        margin-bottom: 32px;
    }
    .all-news .title::before{
        right: 10%
    }
    .all-news .title::after{
        left: 10%
    }
    .all-news .p-2{
        padding: 0!important;
    }
    .all-news .m-4{
        margin: 0!important;
    }
    .all-news .new-card .hours {
        font-size: 16px;
    }
    .all-news .new-card .card-title {
        font-size: 22px;
    }
}
@media screen and (max-width: 500px){
    .all-news{
        padding-top: 70px;
    }
    .all-news .title{
        font-size: 24px;
    }
    .all-news .title::before,
    .all-news .title::after{
        width: 50px;
    }
    .all-news .title::before{
        right: 8%
    }
    .all-news .title::after{
        left: 8%
    }
}