.navbar-nav .nav-link.active{
    color: var(--primary) !important;
    font-weight: 700 !important;
}
.navbar{
    background-color: #fff;
    box-shadow: 0.8433734774589539px 12.650602340698242px 19.39759063720703px 0px #E5E5E540;
}